@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
	background-color: #181818;
	font-family: 'Noto Sans KR', sans-serif;
}

.content-container {
	position: relative;
	height: 100%;
}
.content {
	top: 45%;
	width: 100%;
	position: absolute;
	transform: translateY(-50%);
	text-align: center;
}

.release-logo {
	display: block;
	margin: auto;
	width: 40px;
	pointer-events: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.release-text {
	margin-top: 18px;
	font-size: 24px;
	color: white;
	font-weight: 200;
}
