{% extends 'release/base.html' %}
{% load static %}

{%  block head %}
<link rel="stylesheet" type="text/css" href="{%  static 'release/css/style.css' %}" />
{%  endblock %}


{% block content %}
<div class="text container">
	<div class="text row justify-content-center">
		<div class="text col-10 col-md-8">
			<h1 class="text-header">2018년 상반기 모집 일정</h1>
			<p class="text-content">올해 신입 부원 모집은 2/26 (월) - 3/7 (수)으로 예정되어 있습니다.</p>
			<p class="text-content">자세한 사항은 결정되는대로 페이스북, 단톡방, 공식 사이트를 통해 공지할 예정입니다.</p>
			<h1 class="text-header">사전 안내</h1>
			<p class="text-content">준비중...</p>
		</div>
	</div>
</div>
{% endblock %}
